@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(5, 5, 61);
    height: 75px;
}
.links{
    display: flex;
    flex-basis: 70%;
    list-style-type: none;
    margin: 22px 0px 0px 0px;
}
nav h2{
    font-size: 40px;
    margin: 0px 0px 0px 5px;
    color: rgb(177, 167, 167);
    font-family: 'Pacifico', cursive;
}
li{
    display: inline-block;
    margin: 5px 10px;
}
li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(177, 167, 167);
}
.icons{
    margin: 22px 10px 0 0;
}
.icons button{
    margin: 0 5px;
    outline: none;
    background-color: rgb(5, 5, 61);
    border: none;
    height: 35px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(177, 167, 167);
}
li a:hover{
    color: rgb(241, 232, 232);
}
.icons button:hover{
    color: rgb(241, 232, 232);
}
.menu button{
    width: 35px;
    height: 35px;
    display: none;
    margin-top: 22px;
    outline: none;
    background-color: rgb(5, 5, 61);
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: rgb(177, 167, 167);
}
@media screen and (max-width:960px) {
    .menu{
        margin-right: 20px;
    }
    .menu button{
        display: inline-block;
    }
    .links{
        position: absolute;
        width: 100%;
        margin-top: 75px;
        opacity: 1;
        left: -100%;
    }
    .links.active{
        display: block;
        background: rgb(49, 49, 112);
        left: 0px;
        opacity: 1;
        height: 68%;
        transition: all 0.5s ease;
        margin-top: 75px;
    }
    li {
        margin: 0;
        display: grid;
    }
    li a{
        padding: 50px;
    }
    li a:hover{
        color: white;
        background-color: rgb(5, 5, 61);
        transition: all 0.5s ease;
        opacity: 1;
    }
    .icons{
        padding-right:95px ;
    }
}