@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(5, 5, 61);
    height: 75px;
}
.links{
    display: flex;
    flex-basis: 60%;
}
.links h2{
    font-size: 40px;
    margin: 0px 0px 0px 5px;
    color: rgb(177, 167, 167);
    font-family: 'Pacifico', cursive;
}
.links ul{
    list-style-type: none;
    margin: 22px 0px 0px 30px;
}
.links li{
    display: inline-block;
    margin: 5px 10px;
}
.links li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(177, 167, 167);
}
.socialMedia-icons{
    flex-basis: 10%;
    margin-top: 22px;
}
.socialMedia-icons button {
    outline: none;
    background-color: rgb(5, 5, 61);
    border: none;
    width: 35px;
    height: 35px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(177, 167, 167);
}
.links li a:hover{
    color: rgb(241, 232, 232);
}
.socialMedia-icons button:hover{
    color: rgb(241, 232, 232);
}