@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Navbar */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: rgb(5, 5, 61);
    height: 75px;
    width: 100%;
    z-index: 2;
}
.links{
    display: flex;
    flex-basis: 70%;
    list-style-type: none;
    margin: 22px 0px 0px 0px;
}
nav h2{
    font-size: 38px;
    margin: 0px 0px 0px 5px;
    color: rgb(177, 167, 167);
    font-family: 'Pacifico', cursive;
}
li{
    display: inline-block;
    margin: 5px 10px;
}
li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(177, 167, 167);
    font-weight: bold;
}
.icons{
    margin: 22px 10px 0 0;
}
.icons button{
    margin: 0 5px;
    outline: none;
    background-color: rgb(5, 5, 61);
    border: none;
    height: 35px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(177, 167, 167);
}
li a:hover{
    color: rgb(241, 232, 232);
}
.icons button:hover{
    color: rgb(241, 232, 232);
    transform: scale(0.9);
    -webkit-transform:scale(0.9);
    -ms-transform: scale(0.9);
}
.menu button{
    width: 35px;
    height: 35px;
    display: none;
    margin-top: 22px;
    outline: none;
    background-color: rgb(5, 5, 61);
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: rgb(177, 167, 167);
}
@media screen and (max-width:960px) {
    .menu{
        margin-right: 20px;
    }
    .menu button{
        display: inline-block;
    }
    .links{
        display: block;
        position: fixed;
        width: 100%;
        margin-top: 75px;
        opacity: 1;
        left: -120%;
        transition: all 0.5s ease;
        height: 68%;
    }
    .links.active{
        display: block;
        background: rgb(49, 49, 112);
        left: 0px;
        opacity: 1;
        height: 68%;
        transition: all 0.5s ease;
        margin-top: 75px;
        z-index: 1;
    }
    li {
        margin: 0;
        display: grid;
    }
    li a{
        padding: 50px;
        transition: 0.5s;
    }
    li a:hover{
        color: white;
        background-color: rgb(5, 5, 61);
        transition: all 0.5s ease;
        opacity: 1;
    }
    .icons{
        padding-right:95px ;
    }
}
@media screen and (max-width:770px) {
    nav h2{
        font-size: 22px;
        margin: 18px 5px;
    }
    .icons{
        margin-right: 0;
        margin-left: 24px;
    }    
    .icons button{
        font-size: 20px;
    }
    .links{
        left: -150%;
    }
    .menu button{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .links.active{
        height: 74%;
    }
    li a{
        font-size: 15px;
    }

}
/* Cover */
.content{
    display: block;
    width: 100%;
    height: 100vh;
    background:linear-gradient(#034d46d5,#7c76762d),url("/src/images/cover1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cover .ord,h1,p,hr{
    position: relative;
    top: 100px;
}
.cover h1{
    font-size: 150px;
    font-family: 'Pacifico', cursive;
    color: #c9ddd7;
    font-style: italic;
}
.cover p{
    font-size: 30px;
    color: #c9ddd7;
    font-style: italic;
    font-family: 'Crimson Text', serif;
}   
.cover hr{
    width: 80%;
    left: 11%;
    margin: 30px 0;
    height: 3px;
    background: #c9ddd72d;
    border: none;
}
.ord{
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: 38px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 17px;
    background: rgb(41, 129, 212);
    cursor: pointer;
    transition:0.5s;
}
.ord:hover{
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -ms-transform: scale(0.9);
}
@media screen and (max-width:770px){
    .cover h1{
        font-size: 70px;
    }
    .cover p{
        font-size: 20px;
    }
    .cover.ord h1,p,hr{
        position: relative;
        top: 100px;
    }
    .ord{
        width: 80px;
        height: 30px;
        font-size: 12px;
    }
}
/* Services */
.serv{
    display:initial;
    width: 100%;
    height: 100vh;
}
.services{
    background: #c6c9c8;
    padding-bottom: 10px;
}
.title{
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    position: relative;
    top: 0px;
    color: #032b4b;
    display: inline-block;
}
.title::after{
    content: 'Services';
    position: absolute;
    left: 0px;
    top: -6px;
    transform: rotate(0deg);
    color: #032b4ba4;
}
.take{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.text{
    margin: 0 10px 0 10px;
}
.text h1{
    position: relative;
    color: rgb(5, 7, 7);
    top: 0;
    font-family: 'Lato', sans-serif;
    font-variant:small-caps;
    font-size: 40px;
}
.text p{
    position: relative;
    top: 10px;
    text-align:initial;
}
.parties{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.services hr{
    position: relative;
    top: 20px;
    margin-bottom: 30px;
    height: 3px;
    width: 80%;
    left: 11%;
    border: none;
    background: #648175;
}
.left-arrow{
    position:absolute;
    top: 250px;
    left: 30px;
    font-size: 35px;
    color: rgb(191, 204, 202);
    z-index: 1;
    cursor: pointer;
    user-select: none;
}
.right-arrow{
    position:absolute;
    top: 250px;
    right: 20px;
    font-size: 35px;
    color: rgb(191, 204, 202);
    cursor: pointer;
    z-index: 1;
    user-select: none;
}
.img{
    width: 950px;
    height: 450px;
    right: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.slider{
    display: flex;
    height: 450px;
    position: relative;
    border-radius: 20px;
    margin: 10px 20px 20px 0;
    padding-top: 50px;
}
.slide{
    opacity: 0;
    transition-duration: 0.5s ease ;
}
.slide.active{
    opacity: 1;
    transition-duration: 0.5s ;
    transform: scale(1.03);
    width: 100%;
}
.party{
    display: grid;
    margin: 20px;
}
.des{
    display: flex;
    justify-content: space-between;
}
.party h2{
    font-style: italic;
    color: rgb(3, 63, 53);
}
.des p{
    position: relative;
    top: 20px;
    text-align:start;
}
.icon{
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #2a7c74;
    color: #034d46;
}
@media screen and (max-width:1360px) {
    .slider{
        width: 100%;
        height: 400px;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    .img{
        width: 700px;
        height: 400px;
        right: 15px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
    .party{
        margin: 10px;
    }
    .party h2{
        font-size: 20px;
        margin-top: 10px;
    }
    .des p{
        font-size: 15px;
        top: 10px;
    }
    .icon{
        font-size: 20px;
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width:1070px){
    .img{
        width: 600px;
    }
}
@media screen and (max-width:920px) {
    .serv{
        height: 100vh;
    }
    .take{
        display: flex;
        flex-wrap: wrap;
    }
    .text{
        flex-basis: 100%;
    }
    .img{
        width:99%;
        height: 400px;
        margin-left: 6px;
        padding: 5px;
    }
    .slider{
        height: 370px;
        margin-bottom: 20px;
        width: 100%;
    }
    .parties{
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .right-arrow,.left-arrow{
        font-size: 25px;
        top: 250px;
    }
    .title{
        font-size: 35px;
    }
    .title::after{
        top: -5px;
    }
    .text h1{
        font-size: 25px;
    }
    .text p{
        font-size: 15px;
    }
    .icon{
        margin-top: 5px;
    }
}
@media screen and (max-width:500px){
    .img{
        height: 340px;
    }
    .right-arrow,.left-arrow{
        top: 200px;
    }
}
/* Register */
.reg{
    width: 100%;
    display: flex;
    height: 100vh;
    background: rgb(5, 68, 65);
    justify-content: center;
}
.Sign{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 50px;
    background: rgb(175, 235, 222);
    border-radius: 20px;
    position: relative;
}

.SignUp{
    width: 100%;
    height: 400px;
    opacity: 1;
    position: absolute;
}
.SignUp input{
    margin: 20px;
    width: 350px;
    height: 30px;
    padding:5px ;
    border-radius: 10px;
    border: none;
    outline: none;
}
.SignUp button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: #0cc2c2;
    color: white;
    border: none;
    margin-bottom: 20px;
}
.Sign h2{
    font-size: 38px;
    color: #ffffff;
    font-family: 'Pacifico', cursive;
}
.Sign h3{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #077269;
    margin-top: 0;
}
.Sign label{
    font-size: 20px;
    font-weight: bold;
    color: #000000c5;
}
.Sign hr{
    width: 30%;
    position: relative;
    left: 35%;
    top: 0;
    margin: 10px 0;
}
.logI{
    color: #077269;
    font-size: 25px;
    width: 30px;
    height: 25px;
    position: relative;
    top: 3px;
}
#signup a{
    cursor: pointer;
    text-decoration: none;
}
@media screen and (max-width:770px) {
    .reg{
        height: 90vh;
    }
    .Sign{
        width: 350px;
        height: 450px;
        padding-top: 25px;
    }
    .SignUp input{
        width: 150px;
        height: 20px;
        font-size: 12px;
    }    
    .Sign h2{
        font-size: 28px;
        padding-bottom: 5px;
    }
    .Sign h3{
        font-size: 22px;
        padding: 5px;
    }
    .Sign hr{
        margin-bottom: 10px;
    }
    .Sign label{
        font-size: 18px;
    }
    .Sign p{
        font-size: 12px;
    }
    .SignUp button{
        width: 65px;
        height: 30px;
        font-size: 12px;
    }
    .logI{
        font-size: 20px;
        top: 4px;
    }
}
 /* Menu */
 .menu{
    padding-top:5px ;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(151, 223, 219);
}
.leftSide{
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    background:url("./images/menu.jpg");
    background-size: cover;
    background-position:center;
    color: rgb(134, 158, 158);
}
.leftSide p{
    position: relative;
    top: 48%;
}
.leftSide h1{
    position: relative;
    top: 48%;
    left: 35px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.leftSide hr{
    position: relative;
    top: -48px;
    width: 16%;
    left: 43%;
    height: 1.5px;
    background-color: rgb(134, 158, 158);
    border: none;
}
.leftSide sup{
    font-size: 20px;
    position: relative;
    top: -25px;
    left: -70px;
    font-style: italic;
    font-family:'Pacifico', cursive ;
}
.rightSide{
    flex-basis: 50%;
    background: rgb(1, 9, 32);
}
.foods{
    display: grid;
    margin: 0 5px;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 15px;
}
.foods h2{
    position: relative;
    top: 80px;
    font-family: 'Lato', sans-serif;
    font-variant:small-caps;
    font-style: italic;
}
.foods hr{
    border: none;
    height: 1.5px;
    background-color: rgb(151, 223, 219);
    margin: 0 10px;
}
.foods p{
    color: rgb(232, 241, 239);
}
